* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 1.5;
}

/* nav bar bg colour */
.topnav {
  background-color: #ad96c7;
  overflow: hidden;
}

/* nav bar styling */
.topnav a {
  float: right;
  display: flex;
  flex-direction: row;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    width: 100%;
    font-size: 15px;
    padding: 7px 8px;
  }

  .topnav a.work-link {
    margin-bottom: 50px;
  }
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #000000;
  color: white;
}

#hero-image {
  height: 700px;
  width: 100%;
  background-image: url("../images/headshot.png");
  background-size: cover;
  position: relative;
  bottom: 35px;
  background-position: top;
  background-repeat: no-repeat;
}

.hero-text {
  position: absolute;
  right: 0px;
  bottom: 0px;
  color: #fff;
  background-color: #ad96c7;
  padding-left: 20px;
  padding-right: 25px;
  padding-bottom: 20px;
  padding-top: 12px;
  font-size: 18px;
  text-align: right;
}

.page-section {
  display: flex;
  justify-content: space-around;
  padding-bottom: 35px;
}

.page-wrapper h2 {
  flex-basis: 20%;
}

#about h2 {
  flex-basis: 20%;
}

#about p {
  flex-basis: 80%;
}

.page-section #work-grid {
  flex-basis: 80%;
  display: grid;
  grid-template-rows: 550px 300px 300px;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-areas:
    "project1 project1"
    "project2 project3"
    "project4 project5";
}

#work-grid a {
  background-color: #ad96c7;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.heading {
  font-size: 20px;
  bottom: 50px;
  left: 50px;
  color: #fff;
}

#project1 {
  grid-area: project1;
  background-image: url("../images/02-run-buddy.jpg");
}

#project2 {
  grid-area: project2;
  background-image: url("../images/02-portfolio-1.jpg");
}

#project3 {
  grid-area: project3;
  background-image: url("../images/02-portfolio-2.jpg");
}

#project4 {
  grid-area: project4;
  background-image: url("../images/02-portfolio-3.jpg");
}

#project5 {
  grid-area: project5;
  background-image: url("../images/02-portfolio-4.jpg");
}

.work-grid-area {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

#contact h2 {
  flex-basis: 20%;
}

#contact .contact-links {
  flex-basis: 80%;
}

.contact-links a {
  margin: 10px;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .contact-links a {
    display: grid;
    grid-template-areas:
      "nicolesharpe11@gmail.com"
      "07544345814"
      "GitHub"
      "LinkedIn"
      "Spotify";
    justify-content: right;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 30px;
  font-size: 18px;
}
